@import "/src/styles/design-scheme.module";

.button {
  padding: 1rem 3rem;
  font-family: inherit;
  font-size: calc(10px + 1vmin);
  color: #fff;
  font-weight: 800;
  border-radius: 5px;
  letter-spacing: 0.14em;
  line-height: 1.5;
  cursor: pointer;
  border: 1px solid transparent;
  transition: opacity 0.5s;
}

.button:hover {
  opacity: .85;
}

.button:active {
  border: 0 solid transparent;
  margin: 1px;
}
