// COLORS

$base-red: #EC5863;
$base-blue: #4285F4;
$base-gray: #B0B0B0;

$hover-blue: #5e96f3;

// FONT SIZE

$heading1: calc(10px + 2vmin);
$heading2: calc(10px + 1vmin);

$textSmall: calc(5px + 0.5vmin);
$textMediumSmall: calc(5px + 0.5vmax);
$textMedium: calc(3px + 1vmax);
$textStandard: calc(3px + 2vmax);
$textBig: calc(10px + 2vmax)
